C#Vezba9V2/cSharpVezba9V2/Service References/SistemServis/SistemServis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Temperatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vrednost" type="xs:int" />
        <xs:element minOccurs="0" name="vreme" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TemperaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TemperaturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>